@model List<Reservation>
@{
    ViewData["Title"] = "Reservation";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int order = (ViewBag.SelectedPage - 1) * 8 + 1;
}
<div class="main-content">
    <input type="hidden" id="forBlogId" value="@ViewBag.Id" />
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Room Reservations</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                                <li class="breadcrumb-item active">Room Reservations Table</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-editable table-nowrap align-middle table-edits">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>UserName</th>
                                            <th>Email</th>
                                            <th>Check-in</th>
                                            <th>Check-out</th>
                                            <th>Phone Number</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@order</td>
                                                <td data-field="Name">@item.appUser.FullName</td>
                                                <td data-field="Email">@item.Email</td>
                                                <td data-field="Check-in">@item.CheckIn.ToString("MM-dd-yyyy")</td>
                                                <td data-field="Check-in">@item.CheckOut.ToString("MM-dd-yyyy")</td>
                                                <td data-field="Room">@item.PhoneNumber</td>
                                                @if (item.Status==true)
                                                {
                                                    <td><span class="badge rounded-pill bg-success">Accepted</span></td>
                                                }
                                                else if (item.Status==false)
                                                {
                                                    <td><span class="badge rounded-pill bg-danger">Rejected</span></td>
                                                }
                                                else
                                                {
                                                    <td><span class="badge rounded-pill bg-warning">Pending</span></td>
                                                }
                                                <td><a asp-action="Reservationdetail" asp-route-id="@item.Id" class="btn btn-light waves-effect">Details</a></td>
                                            </tr>
                                            order++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
            @if (ViewBag.TotalPage > 1)
            {
                <div class="d-inline-block ">
                    <ul class="pagination pagination-rounded mb-0">
                        <li class="page-item @(ViewBag.SelectedPage==1 ? "disabled":"")">
                            <a class="page-link" asp-action="reservation" asp-controller="Room" asp-route-page="@(ViewBag.SelectedPage==1 ? 1:ViewBag.SelectedPage-1)">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </li>
                        @for (int i = 1; i <= ViewBag.TotalPage; i++)
                        {
                            <li class="page-item @(i==ViewBag.SelectedPage?"active":"")"><a class="page-link" asp-action="reservation" asp-controller="Room" asp-route-page="@i">@i</a></li>
                        }
                        <li class="page-item @(ViewBag.SelectedPage==ViewBag.TotalPage ? "disabled" : "")">
                            <a class="page-link" asp-action="reservation" asp-controller="Room" asp-route-page="@(ViewBag.SelectedPage==ViewBag.TotalPage ? ViewBag.TotalPage:ViewBag.SelectedPage+1)">
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            }

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>


