@model RoomDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<!-- CONTENT
  ================================================== -->
<!-- section text header -->
<section class="section__text-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="welcome__content">
                    <h1 class="welcome_content__title">@Model.room.Name</h1>
                    <div class="divider blog-divider">
                        <hr class="line1">
                        <hr class="line2">
                        <hr class="line1">
                    </div> <!-- / .divider -->
                </div> <!-- .welcome__content -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section text-header -->
<!-- section room-detail -->
<section class="section__room-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8">
                <div class="room_detail__body">
                    <div id="room-detail__carousel" class="owl-carousel owl-theme room-detail__gallery">
                        @foreach (var item in Model.room.RoomImages)
                        {
                            <div class="room_gallery__item">
                                <img src="~/assets/img/@item.ImageName" class="img-responsive" alt="...">
                            </div> <!-- .room_gallery__item -->
                        }
                    </div> <!-- .room-detail__gallery -->
                    <div class="room_price__body">
                        <h2 class="room__name">@Model.room.Categories.Name</h2>
                        <p class="room__price"><span>$@Model.room.Price</span> / night</p>
                    </div>
                    <p class="subheading">Room description</p>
                    <div class="room__desc">
                        @Model.room.Desc
                    </div>
                    <a asp-action="reservation" asp-controller="room" asp-route-id="@Model.room.Id" class="btn">Book this room now</a>
                </div> <!-- .room-detail__body -->
                @if (ViewBag.Comment != null || Model.room.Comments.Count != 0) 
                {
                    <div class="room__reviews">
                        @if (Model.room.Comments.Count!=0)
                        {
                            <p class="subheading">Room reviews</p>
                            <ul class="reviews__list">
                                @foreach (var item in Model.room.Comments)
                                {
                                    <li class="review">
                                        <div class="review__user">
                                            @item.Name
                                        </div>
                                        <div class="review__date">
                                            @item.CreatedAt.ToString($"MMMM dd, yyyy - HH:mm")
                                        </div>
                                        <div class="review__message">
                                            @item.Text
                                        </div>
                                    </li> <!-- .review -->
                                }
                            </ul> <!-- .reviews__list -->
                        }
                        @if (ViewBag.Comment != null)
                        {
                            <p class="subheading">Leave a review</p>
                            <form method="post" asp-action="comment" asp-controller="room" class="comments__form" data-animate-in="animateUp">
                                <input type="hidden" value="@Model.room.Id" name="RoomId" />

                                <div class="form-group">
                                    <label for="message">Message (Required)</label>
                                    <textarea maxlength="300" minlength=10 required title="10 characters minimum" name="text" class="form-control" rows="6" id="text"
                                              placeholder="Enter Your Message"></textarea>
                                    <span class="help-block"></span>
                                </div>

                                <button type="submit" class="btn">
                                    Submit review
                                </button>
                            </form>
                        }
                    </div> <!-- .room__reviews -->
                }
            </div>
            <div class="col-sm-5 col-md-4">
                <div class="room-detail__sidebar">
                    <div class="room_features__body">
                        <p class="subheading">Room features</p>
                        <ul class="room__features">
                            @foreach (var item in Model.room.RoomFeatureRelations)
                            {
                                <li class="feature__item">
                                    @Html.Raw(item.RoomFeature.Icon)
                                    <div class="feature_item__title">
                                        @item.RoomFeature.Name
                                    </div>
                                </li>
                            }
                        </ul> <!-- .room__features -->
                    </div> <!-- .room_features__body -->
                    <div class="similar__rooms">
                        <p class="subheading">Similar rooms</p>
                        <ul class="similar-rooms__list">
                            @foreach (var item in Model.similiarRooms)
                            {
                                <li class="list__item">
                                    <a asp-action="details" asp-controller="room" asp-route-id="@item.Id">
                                        <figure class="list_item__body">
                                            <img src="~/assets/img/@item.RoomImages[0].ImageName" class="img-responsive" alt="...">
                                            <figcaption>
                                                <h3>@item.Name</h3>
                                                <div class="item__price">
                                                    $@item.Price <small>/ night</small>
                                                </div>
                                            </figcaption>
                                        </figure> <!-- / .list_item__body -->
                                    </a>
                                </li> <!-- .list__item -->
                            }
                        </ul> <!-- .similar-rooms__list -->
                    </div> <!-- .similar__rooms -->
                    <div class="info__body">
                        <p class="info__title">Information</p>
                        <ul class="info__content">
                            <li>
                                <p class="info-text">@Model.setting.InfoTitle</p>
                            </li>
                            <li>
                                <i class="icon ion-android-pin"></i>
                                <div class="info-content">
                                    <div class="title">Address</div>
                                    <div class="description">@Model.setting.Address</div>
                                </div>
                            </li>
                            <li>
                                <i class="icon ion-android-call"></i>
                                <div class="info-content">
                                    <div class="title">Phone / Fax</div>
                                    <div class="description">@Model.setting.PhoneNumber1 / @Model.setting.PhoneNumber1</div>
                                </div>
                            </li>
                            <li>
                                <i class="icon ion-android-mail"></i>
                                <div class="info-content">
                                    <div class="title">E-mail</div>
                                    <div class="description">@Model.setting.Email</div>
                                </div>
                            </li>
                        </ul> <!-- .info__content -->
                    </div> <!-- / .info__body -->
                </div> <!-- .room-detail__sidebar -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section reservation -->
