@model RoomViewModel
@{
    ViewData["Title"] = "Index";
}
<!-- CONTENT
  ================================================== -->
<!-- section header -->
<section class="section__header" id="section__header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="welcome__content">
                    <h1 class="welcome_content__title">Our rooms</h1>

                    <!-- Breadcrumbs -->
                    <ol class="breadcrumb">
                        <li><a asp-action="index" asp-controller="home">Home</a></li>
                        <li class="active">Rooms</li>
                    </ol>

                    <p class="welcome_content__desc">@ViewBag.WelcomeContent</p>
                </div> <!-- .welcome__content -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="home__bg rooms__bg"></div>
</section> <!-- / .section__header -->
<!-- section rooms-1 -->
<section class="section__rooms-2">

    <div class="container" style="position: relative;">
        <p class="subheading hidden-xs">Search</p>

        <form asp-action="index" asp-controller="room" asp-route-search="@ViewBag.search" class="search-form hidden-xs room-page" role="search">
            <div class="form-group">
                <input autocomplete="off" value="@ViewBag.search" name="search" type="text" class="form-control searching" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default btn-search"><i class="icon ion-search"></i></button>
        </form> <!-- .search-form -->

        <ul class="search-results">

        </ul>
        <div class="inner-container hidden-xs">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <div class="blog__sidebar">
                        <div class="sidebar__item room">

                            <p class="subheading">Categories</p>
                            <ul class="categories">
                                @foreach (var item in ViewBag.Categories)
                                {
                                    if (ViewBag.categoryId == item.Id)
                                    {
                                        <li><a style="color: #DEAA86" asp-action="index" asp-controller="room" asp-route-categoryId="@item.Id">@item.Name</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-action="index" asp-controller="room" asp-route-categoryId="@item.Id">@item.Name</a></li>
                                    }
                                }
                            </ul> <!-- .categories -->
                        </div> <!-- .sidebar__item -->

                    </div> <!-- .blog__sidebar -->
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="blog__sidebar">
                        <div class="sidebar__item room">
                            <p style="margin-top: 0px;" class="subheading for-date-range">Date Range</p>

                            <div class="date-range">
                                <form action="">
                                    <div class="col-sm-12 col-md-12 date">
                                        <div class="form-group">
                                            <label for="check-in">Start date</label>
                                            <input type="date" name="check-in" class="form-control" id="check-in"
                                                   value="2017-04-09">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 date">
                                        <div class="form-group">
                                            <label for="check-out">End date</label>
                                            <input type="date" name="check-out" class="form-control" id="check-out"
                                                   value="2017-04-18">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-submit">
                                        submit
                                    </button>
                                </form>
                            </div>
                        </div> <!-- .sidebar__item -->

                    </div> <!-- .blog__sidebar -->
                </div>
            </div>
        </div>
        <div class="second-inner-container">
            <div class="row">
                @foreach (var item in Model.rooms)
                {
                    <div class="col-md-6 col-sm-6">
                        <div class="rooms__item">
                            <div class="rooms__pic">
                                <img src="~/assets/img/@item.RoomImages[0].ImageName" class="img-responsive" alt="...">
                            </div> <!-- / .about__pic -->
                            <div class="rooms__desc">
                                <div class="rooms_desc__header">
                                    <h2 class="rooms_desc__title">@item.Name</h2>
                                    <p class="rooms_desc__price"><span>$@item.Price</span> / night</p>
                                </div> <!-- .rooms_desc__header -->
                                @if (item.Desc.Length > 120)
                                {
                                    <p class="rooms_desc__desc">
                                        @item.Desc.Substring(0, 120) ...
                                    </p>
                                }
                                else
                                {                                        
                                    <p class="rooms_desc__desc">
                                        @item.Desc
                                    </p>
                                }
                                <ul class="rooms_desc__services">
                                    @foreach (var item1 in item.RoomFeatureRelations)
                                    {
                                        <li>@Html.Raw(item1.RoomFeature.Icon) @item1.RoomFeature.Name</li>
                                    }
                                </ul> <!-- .rooms_desc__services -->
                                <a asp-action="details" asp-controller="room" asp-route-id="@item.Id" class="btn btn-rooms">View details</a>
                            </div> <!-- / .rooms__desc -->
                        </div> <!-- .rooms__item -->
                    </div>
                }
                @if (ViewBag.TotalPage > 1)
                {
                    <div class="row">
                        <div class="col-sm-12 pagination-part" style="margin-left: -15px;">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="@(ViewBag.SelectedPage==1 ? "disabled":"")">
                                        <a asp-action="index" asp-route-categoryId="@ViewBag.categoryId" asp-route-search="@ViewBag.search" asp-controller="room" asp-route-page="@(ViewBag.SelectedPage==1 ? 1:ViewBag.SelectedPage-1)">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                    {
                                        <li class="@(i==ViewBag.SelectedPage?"active":"")"><a asp-action="index" asp-route-search="@ViewBag.search" asp-route-categoryId="@ViewBag.categoryId" asp-controller="room" asp-route-page="@i">@i</a></li>
                                    }
                                    <li class="@(ViewBag.SelectedPage==ViewBag.TotalPage ? "disabled" : "")">
                                        <a asp-action="index" asp-controller="room" asp-route-categoryId="@ViewBag.categoryId" asp-route-search="@ViewBag.search" asp-route-page="@(ViewBag.SelectedPage==ViewBag.TotalPage ? ViewBag.TotalPage:ViewBag.SelectedPage+1)">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div> <!-- / .row -->
                }
            </div> <!-- .row -->
        </div>
    </div>
</section> <!-- / .section__rooms-1 -->
