@model ReservationViewModel
@{
    ViewData["Title"] = "Reservation";
}

<!-- CONTENT
  ================================================== -->
<!-- section header -->
<section class="section__header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="welcome__content">
                    <h1 class="welcome_content__title">Reservation</h1>

                    <!-- Breadcrumbs -->
                    <ol class="breadcrumb">
                        <li><a asp-action="index" asp-controller="home">Home</a></li>
                        <li class="active">Reservation</li>
                    </ol>

                    <p class="welcome_content__desc">@ViewBag.Setting.ReservationWelcomeContent</p>
                </div> <!-- .welcome__content -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="home__bg reservation__bg"></div>
</section> <!-- / .section header -->
<!-- section reservation -->
<section class="section__reservation">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-push-7 col-md-4 col-md-push-8">
                <div class="booking__details-body">
                    <p class="subheading">Booking details</p>
                    <h2 class="section__heading">Selected room</h2>
                    <figure class="room__details">
                        <img src="~/assets/img/@Model.room.RoomImages[0].ImageName" class="img-responsive" alt="...">
                        <figcaption>
                            <h3>@Model.room.Name</h3>
                            <div class="room__price">
                                $@Model.room.Price <small>/ night</small>
                            </div>
                            @if (Model.room.Desc.Length > 108)
                            {
                                <p class="room__desc">
                                    @Model.room.Desc.Substring(0, 108) ...
                                </p>
                            }
                            else
                            {
                                <p class="room__desc">
                                    @Model.room.Desc
                                </p>
                            }
                        </figcaption>
                    </figure> <!-- / .room__details -->
                </div> <!-- .booking__details-body -->
                <div class="info__body">
                    <p class="info__title">Information</p>
                    <ul class="info__content">
                        <li>
                            <p class="info-text">If you have some questions with booking please contact us.</p>
                        </li>
                        <li>
                            <i class="icon ion-android-pin"></i>
                            <div class="info-content">
                                <div class="title">Address</div>
                                <div class="description">@ViewBag.Setting.Address</div>
                            </div>
                        </li>
                        <li>
                            <i class="icon ion-android-call"></i>
                            <div class="info-content">
                                <div class="title">Phone / Fax</div>
                                <div class="description">@ViewBag.Setting.PhoneNumber1 / @ViewBag.Setting.PhoneNumber2</div>
                            </div>
                        </li>
                        <li>
                            <i class="icon ion-android-mail"></i>
                            <div class="info-content">
                                <div class="title">E-mail</div>
                                <div class="description">@ViewBag.Setting.Email</div>
                            </div>
                        </li>
                    </ul> <!-- .info__content -->
                </div> <!-- / .info__body -->
            </div>
            <div class="col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4">
                <div class="reservation__form-body">
                    <p class="subheading">Booking form</p>
                    <h2 class="section__heading">Personal info</h2>
                    <p class="section__subheading">
                        @ViewBag.Setting.ReservationTitle
                    </p>

                    <!-- Alert message -->
                    <div class="alert" id="form_reservation" role="alert"></div>

                    <!-- Please carefully read the README.pdf file in order to setup the PHP reservation form properly -->

                    <form method="post" id="reservation-form_sendemail" class="reservation__form" data-animate-in="animateUp">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <input value="@Model.room.Id" type="hidden" name="RoomId" asp-for="reservation.RoomId" />
                        <input value="@ViewBag.UserId" type="hidden" name="AppUserId" asp-for="reservation.AppUserId" />
                        <input value="0" type="hidden" name="Id" asp-for="reservation.Id" />
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.CheckIn" class="sr-only">Arrival date</label>
                                <input asp-for="reservation.CheckIn" required type="date" name="CheckIn" class="form-control" id="CheckIn"
                                       placeholder="mm/dd/yyyy">
                                <span asp-validation-for="reservation.CheckIn" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.CheckOut" class="sr-only">Departure date</label>
                                <input asp-for="reservation.CheckOut" required type="date" name="CheckOut" class="form-control" id="CheckOut"
                                       placeholder="mm/dd/yyyy">
                                <span asp-validation-for="reservation.CheckOut" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.AdultCount" class="sr-only">Adults</label>
                                <select required asp-for="reservation.AdultCount" class="form-control" asp-items="@(new SelectList(ViewBag.MaxAdult,"Id","Value"))" name="AdultCount" id="AdultCount">
                                </select>
                                <span asp-validation-for="reservation.AdultCount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.ChildCount" class="sr-only">Children</label>
                                <select required asp-for="reservation.ChildCount" class="form-control" asp-items="@(new SelectList(ViewBag.MaxChild,"Id","Value"))" name="ChildCount" id="ChildCount">
                                </select>
                                <span asp-validation-for="reservation.ChildCount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.FullName" class="sr-only">Full name</label>
                                <input asp-for="reservation.FullName" required value="@Model.appUser.FullName" type="text" name="FullName" class="form-control" id="FullName"
                                       placeholder="Full Name">
                                <span asp-validation-for="reservation.FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.Email" class="sr-only">Email</label>
                                <input asp-for="reservation.Email" required value="@Model.appUser.Email" type="email" name="Email" class="form-control" id="email"
                                       placeholder="Email">
                                <span asp-validation-for="reservation.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.PhoneNumber" class="sr-only">Phone</label>
                                <input asp-for="reservation.PhoneNumber" required maxlength="13" value="@Model.appUser.PhoneNumber" type="tel" name="PhoneNumber" 
                                       class="form-control" id="PhoneNumber" placeholder="Phone">
                                <span asp-validation-for="reservation.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.Address" class="sr-only">Address</label>
                                <input asp-for="reservation.Address" value="@Model.appUser.Address" required type="text" name="Address" class="form-control" id="address-line1"
                                       placeholder="Address">
                                <span asp-validation-for="reservation.Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.City" class="sr-only">City</label>
                                <input asp-for="reservation.City" required value="@Model.appUser.City" type="text" name="city" class="form-control" id="city" placeholder="City">
                                <span asp-validation-for="reservation.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="reservation.Country" class="sr-only">Country</label>
                                <input required asp-for="reservation.Country" value=@Model.appUser.Country type="text" name="country" class="form-control" id="country"
                                       placeholder="Country">
                                <span asp-validation-for="reservation.Country" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="reservation.SpecialReq" class="sr-only">Special requirements</label>
                                <textarea asp-for="reservation.SpecialReq" name="SpecialReq" class="form-control" rows="8" id="requirements"
                                          placeholder="Special requirements"></textarea>
                                <span asp-validation-for="reservation.SpecialReq" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-booking">Book now by email</button>
                        </div>
                    </form> <!-- .reservation__form -->
                </div> <!-- .reservation__form-body -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section reservation -->
