@model BlogDetailViewModel
@{
    ViewData["Title"] = "Details";
}

<!-- CONTENT
  ================================================== -->
<!-- section text header -->
<section class="section__text-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="welcome__content">
                    <h1 class="welcome_content__title">@Model.blog.BlogPostTitle</h1>
                    <div class="divider blog-divider">
                        <hr class="line1">
                        <hr class="line2">
                        <hr class="line1">
                    </div> <!-- / .divider -->
                </div> <!-- .welcome__content -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section text-header -->
<!-- section blog-item -->
<section class="section__blog-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog__item">
                    <div class="blog-item__img">
                        <img src="~/assets/img/@Model.blog.ImageName" class="img-responsive" alt="...">
                    </div>
                    <div class="blog-item__content">
                        <div class="blog-item__category">
                            <p>/ <span>@Model.blog.BlogCategory</span> /</p>
                        </div>
                        <div class="blog-item__title">
                            <h3>@Model.blog.Name</h3>
                        </div>
                        <div class="divider blog-divider">
                            <hr class="line1">
                            <hr class="line2">
                            <hr class="line1">
                        </div> <!-- / .divider -->
                        <div class="blog-item__date">
                            <p>@Model.blog.Createdat.ToString("MMM,dd"), @Model.blog.Createdat.ToString("yyyy")</p>
                        </div>
                        <div class="blog-item__text">
                            @Model.blog.Desc1
                        </div> <!-- .blog-item__text -->
                        <h4 class="blog-item__quote">
                            @Model.blog.DescHeader
                        </h4>
                        <div class="blog-item__text">
                            @Model.blog.Desc2
                        </div> <!-- .blog-item__text -->
                        <div class="blog-item__tags">
                            <p>Tags:</p>
                            @foreach (var item in Model.blog.BlogTags)
                            {
                                <a asp-action="index" asp-controller="Blog" asp-route-Tagid="@item.Tag.Id">#@item.Tag.Name</a>
                            }
                        </div>
                        <div class="blog-item__footer">
                            <div class="footer__item">
                                <ul class="item-info__list">
                                    <li class="info-list__item">
                                        <i class="ion ion-android-chat"
                                           aria-hidden="true"></i> @Model.blog.Comments.Count() Comments
                                    </li>
                                </ul> <!-- .item-info__list -->
                            </div> <!-- .footer__item -->
                            <div class="footer__item">
                                <ul class="social__icons">
                                    <li class="social-icons__item">Share:</li>
                                    <li class="social-icons__item">
                                        <a href="https://twitter.com/">
                                            <i class="icon ion-social-twitter"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="https://facebbok.com/">
                                            <i class="icon ion-social-facebook"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="https://www.google.com/">
                                            <i class="icon ion-social-googleplus"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul> <!-- .social__icons -->
                            </div> <!-- .footer__item -->
                        </div> <!-- .blog-item__footer -->
                    </div> <!-- / .blog-item__content -->
                </div> <!-- .blog__item -->
                <div class="comments">
                    @if (Model.blog.Comments.Count != 0) 
                    {
                        <p class="subheading">Comments</p>
                        <ul class="comments__list">
                            @foreach (var item in Model.blog.Comments)
                            {
                                <li class="comment">
                                    <div class="comment__user">
                                        @item.Name
                                    </div>
                                    <div class="comment__date">
                                        @item.CreatedAt.ToString($"MMMM dd, yyyy - HH:mm")
                                    </div>
                                    <div class="comment__message">
                                        @item.Text
                                    </div>
                                </li> <!-- .comment -->
                            }
                        </ul> <!-- .comments__list -->
                    }
                    <p class="subheading">Leave a comment</p>
                    <form method="post" asp-action="Comment" asp-controller="Blog" class="comments__form" data-animate-in="animateUp">
                        @if (!User.IsInRole("Member"))
	                    {		 
                            <div class="form-group">
                                <label for="name">FullName (Required)</label>
                                <input maxlength="50" minlength=7 required title="7 characters minimum" type="text" name="name" class="form-control" id="name"
                                       placeholder="Enter Your Full Name">
                            </div>

                            <div class="form-group">
                                <label for="email">Email address (Required)</label>
                                <input maxlength="60" minlength=7 required title="7 characters minimum" type="email" name="email" class="form-control" id="email"
                                       placeholder="Enter Your E-mail">
                            </div>
	                    }
                        <input type="hidden" value="@Model.blog.Id" name="BlogId"/>
                        <div class="form-group">
                            <label for="message">Message (Required)</label>
                            <textarea maxlength="300" minlength=10 required title="10 characters minimum" name="text" class="form-control" rows="6" id="text"
                                      placeholder="Enter Your Message"></textarea>
                            <span class="help-block"></span>
                        </div>

                        <button type="submit" class="btn">
                            Post comment
                        </button>
                    </form>
                </div> <!-- .comments -->
            </div>
            <div class="col-sm-4">
                <div class="blog__sidebar">
                    <div class="sidebar__item">
                        <p class="subheading">Search</p>
                        <form asp-action="index" asp-controller="blog" asp-route-search="@ViewBag.search" class="search-form" role="search">
                            <div class="form-group">
                                <input autocomplete="off" value="@ViewBag.Search" name="search" type="text" class="form-control" placeholder="Enter keywords">
                            </div>
                            <button type="submit" class="btn btn-search"><i class="icon ion-search"></i></button>
                        </form> <!-- .search-form -->
                        <p class="subheading">Categories</p>
                        <ul class="categories">
                            @foreach (var item in Model.blogCategories)
                            {
                                if (ViewBag.categoryId == item.Id)
                                {
                                    <li><a style="color: #DEAA86" asp-action="index" asp-controller="Blog" asp-route-categoryId="@item.Id">@item.Name</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="index" asp-controller="Blog" asp-route-categoryId="@item.Id">@item.Name</a></li>
                                }
                            }
                        </ul> <!-- .categories -->
                    </div> <!-- .sidebar__item -->
                    
                    <div class="sidebar__item">
                        <p class="subheading">Tags</p>
                        <ul class="tags">
                            @foreach (var item in Model.tags)
                            {
                                if (ViewBag.TagId == item.Id)
                                {
                                    <li><a asp-action="index" asp-controller="Blog" asp-route-Tagid="@item.Id" style="color: #DEAA86">#@item.Name</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="index" asp-controller="Blog" asp-route-Tagid="@item.Id">#@item.Name</a></li>

                                }
                            }
                        </ul>
                    </div> <!-- .sidebar__item -->
                    <div class="sidebar__item">
                        <p class="subheading">Recent posts</p>
                        <ul class="recent__posts">
                            @foreach (var item in Model.recentPost)
                            {
                                <li>
                                    <a asp-action="details" asp-controller="blog" asp-route-id="@item.Id" class="post__title">
                                        <h5 class="post__title">@item.Name</h5>
                                        @if (item.Desc1.Length > 70)
                                        {
                                            <p class="post__desc">
                                                @item.Desc1.Substring(0, 70)
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="post__desc">
                                                @item.Desc1
                                            </p>
                                        }
                                        <p class="post__info">
                                            <i class="ion ion-android-calendar"></i> @item.Createdat.ToString("MMM,dd"), @item.Createdat.ToString("yyyy")
                                        </p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div> <!-- .sidebar__item -->
                </div> <!-- .blog__sidebar -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section blog-item -->
