@model BlogDetailViewModel
@{
    ViewData["Title"] = "Details";
}

<!-- CONTENT
  ================================================== -->
<!-- section text header -->
<section class="section__text-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="welcome__content">
                    <h1 class="welcome_content__title">@Model.blog.BlogPostTitle</h1>
                    <div class="divider blog-divider">
                        <hr class="line1">
                        <hr class="line2">
                        <hr class="line1">
                    </div> <!-- / .divider -->
                </div> <!-- .welcome__content -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section text-header -->
<!-- section blog-item -->
<section class="section__blog-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog__item">
                    <div class="blog-item__img">
                        <img src="~/assets/img/@Model.blog.ImageName" class="img-responsive" alt="...">
                    </div>
                    <div class="blog-item__content">
                        <div class="blog-item__category">
                            <p>/ <span>@Model.blog.BlogCategory</span> /</p>
                        </div>
                        <div class="blog-item__title">
                            <h3>@Model.blog.Name</h3>
                        </div>
                        <div class="divider blog-divider">
                            <hr class="line1">
                            <hr class="line2">
                            <hr class="line1">
                        </div> <!-- / .divider -->
                        <div class="blog-item__date">
                            <p>@Model.blog.Createdat.ToString("MMM,dd"), @Model.blog.Createdat.ToString("yyyy")</p>
                        </div>
                        <div class="blog-item__text">
                            @Model.blog.Desc1
                        </div> <!-- .blog-item__text -->
                        <h4 class="blog-item__quote">
                            @Model.blog.DescHeader
                        </h4>
                        <div class="blog-item__text">
                            @Model.blog.Desc2
                        </div> <!-- .blog-item__text -->
                        <div class="blog-item__tags">
                            <p>Tags:</p>
                            @foreach (var item in Model.blog.BlogTags)
                            {
                                <a href="#">#@item.Tag.Name</a>
                            }
                        </div>
                        <div class="blog-item__footer">
                            <div class="footer__item">
                                <ul class="item-info__list">
                                    <li class="info-list__item">
                                        <i class="ion ion-android-chat"
                                           aria-hidden="true"></i> 5 Comments
                                    </li>
                                </ul> <!-- .item-info__list -->
                            </div> <!-- .footer__item -->
                            <div class="footer__item">
                                <ul class="social__icons">
                                    <li class="social-icons__item">Share:</li>
                                    <li class="social-icons__item">
                                        <a href="https://twitter.com/">
                                            <i class="icon ion-social-twitter"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="https://facebbok.com/">
                                            <i class="icon ion-social-facebook"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="social-icons__item">
                                        <a href="https://www.google.com/">
                                            <i class="icon ion-social-googleplus"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul> <!-- .social__icons -->
                            </div> <!-- .footer__item -->
                        </div> <!-- .blog-item__footer -->
                    </div> <!-- / .blog-item__content -->
                </div> <!-- .blog__item -->
                <div class="comments">
                    <p class="subheading">Comments</p>
                    <ul class="comments__list">
                        <li class="comment">
                            <div class="comment__user">
                                Robert Jones
                            </div>
                            <div class="comment__date">
                                April 8, 2017 at 1:15 pm
                            </div>
                            <div class="comment__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dicta alias enim
                                quasi sapiente saepe, repellat soluta commodi delectus doloribus, veniam odit hic
                                ratione quae modi earum dolor dignissimos quas?
                            </div>
                        </li> <!-- .comment -->
                        <li class="comment">
                            <div class="comment__user">
                                Maria Atkinson
                            </div>
                            <div class="comment__date">
                                March 24, 2017 at 1:38 am
                            </div>
                            <div class="comment__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eaque magni aliquam
                                dolore cum aliquid ipsa, asperiores modi voluptates.
                            </div>
                        </li> <!-- .comment -->
                        <li class="comment">
                            <div class="comment__user">
                                Brad pitt
                            </div>
                            <div class="comment__date">
                                March 20, 2017 at 3:40 pm
                            </div>
                            <div class="comment__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti provident
                                adipisci eos reiciendis. Ab dolore natus nam temporibus quidem esse soluta.
                                Accusamus sapiente, officia architecto accusantium sunt amet harum quis!
                            </div>
                        </li> <!-- .comment -->
                        <li class="comment">
                            <div class="comment__user">
                                Jessica Doe
                            </div>
                            <div class="comment__date">
                                March 15, 2017 at 10:30 am
                            </div>
                            <div class="comment__message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quas iste et dolor
                                harum accusamus.
                            </div>
                        </li> <!-- .comment -->
                    </ul> <!-- .comments__list -->
                    <p class="subheading">Leave a comment</p>
                    <form class="comments__form" data-animate-in="animateUp">

                        <div class="form-group">
                            <label for="name">Name (Required)</label>
                            <input type="text" name="name" class="form-control" id="name"
                                   placeholder="Enter Your Full Name">
                        </div>

                        <div class="form-group">
                            <label for="email">Email address (Required)</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="Enter Your E-mail">
                        </div>

                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="email" name="website" class="form-control" id="website"
                                   placeholder="Enter website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message (Required)</label>
                            <textarea name="message" class="form-control" rows="6" id="message"
                                      placeholder="Enter Your Message"></textarea>
                            <span class="help-block"></span>
                        </div>

                        <button type="submit" class="btn">
                            Post comment
                        </button>
                    </form>
                </div> <!-- .comments -->
            </div>
            <div class="col-sm-4">
                <div class="blog__sidebar">
                    <div class="sidebar__item">
                        <p class="subheading">Search</p>
                        <form class="search-form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter keywords">
                            </div>
                            <button type="submit" class="btn btn-search"><i class="icon ion-search"></i></button>
                        </form> <!-- .search-form -->
                        <p class="subheading">Categories</p>
                        <ul class="categories">
                            @foreach (var item in Model.blogCategories)
                            {
                                <li><a href="#">@item.Name</a></li>
                            }
                        </ul> <!-- .categories -->
                    </div> <!-- .sidebar__item -->
                    
                    <div class="sidebar__item">
                        <p class="subheading">Recent posts</p>
                        <ul class="recent__posts">
                            @foreach (var item in Model.recentPost)
                            {
                                <li>
                                    <a asp-action="details" asp-controller="blog" asp-route-id="@item.Id" class="post__title">
                                        <h5 class="post__title">@item.Name</h5>
                                        @if (item.Desc1.Length > 70)
                                        {
                                            <p class="post__desc">
                                                @item.Desc1.Substring(0, 70)
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="post__desc">
                                                @item.Desc1
                                            </p>
                                        }
                                        <p class="post__info">
                                            <i class="ion ion-android-calendar"></i> @item.Createdat.ToString("MMM,dd"), @item.Createdat.ToString("yyyy")
                                        </p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div> <!-- .sidebar__item -->
                    <div class="sidebar__item">
                        <p class="subheading">Tags</p>
                        <ul class="tags">
                            @foreach (var item in Model.tags)
                            {
                                <li><a href="#">#@item.Name</a></li>
                            }
                        </ul>
                    </div> <!-- .sidebar__item -->
                </div> <!-- .blog__sidebar -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section blog-item -->
