@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Back to top button
================================================== -->
<a id="back-to-top" href="#section__home" class="btn btn-top back-to-top" role="button"
   title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
    <i class="ion-android-arrow-up"></i>
</a>
<!-- CONTENT
  ================================================== -->
<!-- section home -->
<section class="section__home" id="section__home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="welcome__content">

                    <!-- logo -->
                    <h1 class="welcome_content__title">@Model.setting.LogoPart1</h1>
                    <p class="welcome_content__title-primary">@Model.setting.LogoPart2</p>

                    <div class="divider">
                        <hr class="line1">
                        <hr class="line2">
                        <hr class="line1">
                    </div> <!-- / .divider -->

                    <p class="welcome_content__desc">
                        @Model.setting.WelcomeContent
                    </p>

                    <!-- button -->
                    <a href="#section__about" class="btn btn-reservation">Explore it</a>

                </div> <!-- .welcome__content -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- background image (insert via CSS) -->
    <div class="home__bg"></div>

</section> <!-- / .section__home -->
<!-- section availability -->
<section class="section__availability">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- Reservation form -->
                <form class="reservation__form">
                    <div class="form-group">
                        <div class="form-group__inner">
                            <label for="reservation__check-in">Arrival date</label>
                            <input type="text" class="form-control date" id="reservation__check-in"
                                   value="24 December 2017">
                        </div> <!-- / .form-group__inner -->
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <div class="form-group__inner">
                            <label for="reservation__check-out">Departure date</label>
                            <input type="text" class="form-control date" id="reservation__check-out"
                                   value="12 January 2018">
                        </div> <!-- / .form-group__inner -->
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <div class="form-group__inner">
                            <label for="reservation__adults">Adults</label>
                            <input type="text" id="reservation__adults">
                            <div class="dropdown reservation-dropdown">
                                <button class="dropdown-toggle" type="button" id="adults-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span>1 Adult</span>
                                    <i class="icon ion-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="adults-dropdown">
                                    <li><a href="#">1 Adult</a></li>
                                    <li><a href="#">2 Adults</a></li>
                                    <li><a href="#">3 Adults</a></li>
                                </ul>
                            </div> <!-- . -->
                        </div> <!-- / .form-group__inner -->
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <div class="form-group__inner">
                            <label for="reservation__children">Children</label>
                            <input type="text" id="reservation__children">
                            <div class="dropdown reservation-dropdown">
                                <button class="dropdown-toggle" type="button" id="children-dropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span>1 Child</span>
                                    <i class="icon ion-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="children-dropdown">
                                    <li><a href="#">1 Child</a></li>
                                    <li><a href="#">2 Children</a></li>
                                    <li><a href="#">3 Children</a></li>
                                </ul>
                            </div> <!-- . -->
                        </div> <!-- / .form-group__inner -->
                    </div> <!-- / .form-group -->
                </form> <!-- / .reservation__form -->

            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-xs-12">

                <!-- Reservation button -->
                <div class="reservation__button">
                    <button type="submit" class="btn btn-reservation">Check availability</button>
                </div> <!-- / .reservation__button -->

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- .section__availability -->
<!-- section about -->
<section class="section__about" id="section__about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section__title">Welcome to <strong>Sunset Hotel</strong></h2>
                <div class="divider">
                    <hr class="line1">
                    <hr class="line2">
                    <hr class="line1">
                </div> <!-- / .divider -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="container-fluid">
        <div class="row">
            <div class="section_about__content">
                <div class="col-md-6">
                    <div class="about__pic">
                        <img src="~/assets/img/@Model.setting.AboutBannerImage" class="img-responsive" alt="...">
                    </div> <!-- / .about__pic -->
                </div>
                <div class="col-md-6">
                    <div class="about__desc">
                        <p class="about_desc__subtitle">About us</p>
                        <h3 class="about_desc__title">@Model.setting.AboutTitle</h3>
                        <p class="about_desc__desc">
                            @Model.setting.AboutDesc1
                        </p>
                        <h4 class="about_desc__quote">
                            @Model.setting.AboutDesc2
                        </h4>
                        <a asp-action="about" asp-controller="home" class="btn btn-default">Learn More</a>
                    </div> <!-- / .about__desc -->
                </div>
            </div> <!-- / .section_about__content -->
        </div> <!-- / .row -->
    </div>

</section> <!-- / .section__about -->
<!-- section best-rooms -->
<section class="section__best-rooms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section__title">Our <strong>Best rooms</strong></h2>
                <div class="divider">
                    <hr class="line1">
                    <hr class="line2">
                    <hr class="line1">
                </div> <!-- / .divider -->
                <p class="section__subtitle">
                    @Model.setting.OurbestRoomsTitle
                </p>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="container">
        <div class="best-rooms__content">
            <div class="row">
                @foreach (var item in Model.rooms1)
                {

                    <div class="col-sm-6">
                        <figure class="best-rooms__item">
                            <img src="~/assets/img/@item.RoomImages[0].ImageName" class="img-responsive" alt="...">
                            <figcaption>
                                <h3>@item.Name</h3>
                                <div class="item__price">
                                    $@item.Price <small>/ night</small>
                                </div>
                                @if (item.Desc.Length > 140)
                                {
                                    <p class="item__desc">
                                        @item.Desc.Substring(0, 140) ...
                                    </p>
                                }
                                else
                                {
                                    <p class="item__desc">
                                        @item.Desc
                                    </p>
                                }
                                <a asp-action="reservation" asp-controller="room" asp-route-id="@item.Id" class="btn-book">
                                    Book now <i class="icon ion-chevron-right"></i><i class="icon ion-chevron-right"></i>
                                </a>
                            </figcaption>
                        </figure> <!-- / .best-rooms__item -->
                    </div>
                }
            </div> <!-- / .row -->
            <div class="row">
                @foreach (var item in Model.rooms2)
                {

                    <div class="col-sm-6">
                        <figure class="best-rooms__item">
                            <img src="~/assets/img/@item.RoomImages[0].ImageName" class="img-responsive" alt="...">
                            <figcaption>
                                <h3>@item.Name</h3>
                                <div class="item__price">
                                    $@item.Price <small>/ night</small>
                                </div>
                                @if (item.Desc.Length > 140)
                                {
                                    <p class="item__desc">
                                        @item.Desc.Substring(0, 140) ...
                                    </p>
                                }
                                else
                                {
                                    <p class="item__desc">
                                        @item.Desc
                                    </p>
                                }
                                <a asp-action="reservation" asp-controller="room" asp-route-id="@item.Id" class="btn-book">
                                    Book now <i class="icon ion-chevron-right"></i><i class="icon ion-chevron-right"></i>
                                </a>
                            </figcaption>
                        </figure> <!-- / .best-rooms__item -->
                    </div>
                }
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="rooms__button">
                        <a asp-action="index" asp-controller="room" class="btn">See all rooms</a>
                    </div> <!-- / .rooms__button -->
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .best-rooms__content -->
    </div> <!-- / .container -->
</section> <!-- / .section__best-rooms -->
<!-- section services -->
<section class="section__services">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.features)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="services__item">
                        <h2 class="services_item__title">@item.Name</h2>
                        <div class="services_item__divider">
                            @for (int i = 0; i < item.StarCount; i++)
                            {
                                <i class="icon ion-android-star"></i>
                            }

                        </div> <!-- .services_item__divider -->
                        <p class="services_item__desc">
                            @item.Desc
                        </p>
                    </div> <!-- .services__item -->
                </div>
            }

        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section__services -->
<!-- section gallery -->
<section class="section__gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section__title">Our <strong>Gallery</strong></h2>
                <div class="divider">
                    <hr class="line1">
                    <hr class="line2">
                    <hr class="line1">
                </div> <!-- / .divider -->
                <p class="section__subtitle">
                    @Model.setting.OurGalleryTitle
                </p>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div id="gallery__carousel" class="owl-carousel owl-theme gallery__body">
                    @foreach (var item in Model.galleries)
                    {
                        <div class="gallery__item">
                            <a href="assets/img/@item.ImageName" data-lightbox="gallery" data-title="Your caption">
                                <img src="~/assets/img/@item.ImageName" class="img-responsive" alt="...">
                            </a>
                        </div> <!-- .gallery__item -->
                    }
                </div> <!-- .gallery__body -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section__gallery -->
<!-- section testimonials -->
<section class="section__testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section__title"><strong>Testimonials</strong></h2>
                <div class="divider">
                    <hr class="line1">
                    <hr class="line2">
                    <hr class="line1">
                </div> <!-- / .divider -->
                <p class="section__subtitle testimonials__subtitle">
                    @Model.setting.TestimonialsTitle
                </p>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="testimonials__carousel" class="owl-carousel owl-theme testimonials__body">
                    @foreach (var item in Model.testimonials)
                    {
                        <div class="testimonials__wrapper">
                            <div class="testimonials__item">
                                <div class="testimonials__img">
                                    <img src="~/assets/img/@item.ImageName" class="img-responsive" alt="...">
                                </div>
                                <div class="testimonials__caption">
                                    <h3 class="testimonials_caption__name">@item.FullName</h3>
                                    <p class="testimonials_caption__prof">@item.Profession</p>
                                    <p class="testimonials_caption__text">
                                        @item.Desc
                                    </p>
                                </div> <!-- .testimonials__caption -->
                            </div> <!-- .testimonials__item -->
                        </div><!-- .testimonials__wrapper -->
                    }
                </div> <!-- .testimonials__body -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section__testimonials -->
<!-- section Events -->
<section class="section__events">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section__title">Our news <strong>& blogs</strong></h2>
                <div class="divider">
                    <hr class="line1">
                    <hr class="line2">
                    <hr class="line1">
                </div> <!-- / .divider -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 hidden-xs col-sm-6 col-md-6 col-lg-3 col-lg-push-9">
                <div class="news__title">
                    <div>News</div>
                </div>
            </div>
            @foreach (var item in Model.blogs1)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-pull-3">
                    <div class="events__item">
                        <div class="events-item__img">
                            <img src="~/assets/img/@item.ImageName" class="img-responsive" alt="...">
                        </div>
                        <div class="events-item__body">
                            <div class="events-item__header">
                                <div class="events-item__date">
                                    <p class="item_date__nbr">@item.Createdat.ToString("dd")</p>
                                    <p class="item_date__mounth">@item.Createdat.ToString("MMM")</p>
                                </div> <!-- .events-item__date -->
                                <div class="events-item__content">
                                    <div class="events-item__title">
                                        <h3>@item.BlogPostTitle</h3>
                                    </div>
                                    <div class="events-item__info">
                                        <ul class="item-info__list">
                                            <li class="info-list__item">
                                                <i class="ion ion-android-chat"
                                                   aria-hidden="true"></i> 5 Comments
                                            </li>
                                        </ul> <!-- .item-info__list -->
                                    </div> <!-- .events-item__info -->
                                </div> <!-- .events-item__content -->
                            </div> <!-- .events-item__header -->
                            @if (item.Desc1.Length > 190)
                            {
                                <div class="events-item__text">
                                    @item.Desc1.Substring(0, 190) ...
                                </div> <!-- .events-item__text -->
                            }
                            else
                            {
                                <div class="events-item__text">
                                    @item.Desc1
                                </div> <!-- .events-item__text -->
                            }
                            <div class="events-item__link">
                                <a asp-action="details" asp-controller="blog">Read More ➔</a>
                            </div> <!-- .events-item__link -->
                        </div> <!-- / .events-item__body -->
                    </div> <!-- .events__item -->
                </div>
            }

        </div> <!-- / .row -->
        <div class="row">
            <div class="col-xs-12 hidden-xs col-sm-6 col-md-6 col-lg-3">
                <div class="events__title">
                    <div>Blogs</div>
                </div>
            </div>
            @foreach (var item in Model.blogs2)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="events__item ">
                        <div class="events-item__img">
                            <img src="assets/img/@item.ImageName" class="img-responsive" alt="...">
                        </div>
                        <div class="events-item__body">
                            <div class="events-item__header">
                                <div class="events-item__date">
                                    <p class="item_date__nbr">@item.Createdat.ToString("dd")</p>
                                    <p class="item_date__mounth">@item.Createdat.ToString("MMM")</p>
                                </div> <!-- .events-item__date -->
                                <div class="events-item__content">
                                    <div class="events-item__title">
                                        <h3>@item.BlogPostTitle</h3>
                                    </div>
                                    <div class="events-item__info">
                                        <ul class="item-info__list">
                                            <li class="info-list__item">
                                                <i class="ion ion-android-chat"
                                                   aria-hidden="true"></i> 2 Comments
                                            </li>
                                        </ul> <!-- .item-info__list -->
                                    </div> <!-- .events-item__info -->
                                </div> <!-- .events-item__content -->
                            </div> <!-- .events-item__header -->
                            @if (item.Desc1.Length > 190)
                            {
                                <div class="events-item__text">
                                    @item.Desc1.Substring(0, 190) ...
                                </div> <!-- .events-item__text -->
                            }
                            else
                            {
                                <div class="events-item__text">
                                    @item.Desc1
                                </div> <!-- .events-item__text -->
                            }
                            <div class="events-item__link">
                                <a asp-action="details" asp-controller="blog">Read More ➔</a>
                            </div> <!-- .events-item__link -->
                        </div> <!-- / .events-item__body -->
                    </div> <!-- .events__item -->
                </div>
            }
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section__events -->
<!-- section Contacts -->
<section class="section__contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section__title"><strong>Contact</strong> us</h2>
                <div class="divider">
                    <hr class="line1">
                    <hr class="line2">
                    <hr class="line1">
                </div> <!-- / .divider -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <div class="section_row">
        <div id="map"></div>
    </div> <!-- / .section_row -->
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="contacts__info">
                    <p class="contacts_info__title">Information</p>
                    <ul class="contacts_info__content">
                        <li>
                            <i class="icon ion-android-pin"></i>
                            <div class="contact-info-content">
                                <div class="title">Address</div>
                                <div class="description">@Model.setting.Address</div>
                            </div>
                        </li>
                        <li>
                            <i class="icon ion-android-call"></i>
                            <div class="contact-info-content">
                                <div class="title">Phone / Fax</div>
                                <div class="description">@Model.setting.PhoneNumber1 / @Model.setting.PhoneNumber2</div>
                            </div>
                        </li>
                        <li>
                            <i class="icon ion-android-mail"></i>
                            <div class="contact-info-content">
                                <div class="title">E-mail</div>
                                <div class="description">@Model.setting.Email</div>
                            </div>
                        </li>
                    </ul> <!-- .contacts_info__content -->
                </div> <!-- / .contacts__info -->
                <p class="subheading">If you have any questions don't hesistate to contact us.</p>
            </div>
            <div class="col-sm-7">
                <div class="section-contacts__form_body">

                    <p class="section-contacts__title">Get in touch</p>


                    <!-- Alert message -->
                    <div class="alert" id="form_message" role="alert"></div>

                    <!-- Form -->
                    <form method="post" asp-action="SendMessage" asp-controller="Home" id="formsendemail" class="contacts__form">
                        @if (User.IsInRole("Member"))
                        {
                            <!-- Message -->
                            <div class="form-group">
                                <label for="message" class="sr-only">Message</label>
                                <textarea maxlength="299" minlength="15" required name="message" class="form-control" id="message" rows="6"
                                          placeholder="Enter your message"></textarea>
                                <span class="help-block"></span>
                            </div>
                        }
                        else
                        {
                            <!-- Email -->
                            <div class="form-group">
                                <label for="email" class="sr-only">Email address</label>
                                <input required type="email" name="email" class="form-control" id="email"
                                       placeholder="Enter your email address">
                                <span class="help-block"></span>
                            </div>

                            <!-- Name -->
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input required type="text" name="name" class="form-control" id="name"
                                       placeholder="Enter your name">
                                <span class="help-block"></span>
                            </div>

                            <!-- Message -->
                            <div class="form-group">
                                <label for="message" class="sr-only">Message</label>
                                <textarea maxlength="299" minlength="15" required name="message" class="form-control" id="message" rows="6"
                                          placeholder="Enter your message"></textarea>
                                <span class="help-block"></span>
                            </div>
                        }

                        <!-- Note -->
                        <div class="form-group">
                            <small class="text-muted">
                                * All fields are mandatory.
                            </small>
                        </div>

                        <!-- Submit -->
                        <button type="submit" class="btn btn-default">
                            Send Message
                        </button>

                    </form> <!-- .contacts__form -->
                </div> <!-- / .secction-contacts__form_body -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section> <!-- / .section__contacts -->
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfwXIv2vgXzFDZRzzRH2VpbvgSzhqCCuU&amp;callback=initMap"
            async defer></script>
}
