@using System.Linq;
@model DashBoardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    var RadialLabel = Newtonsoft.Json.JsonConvert.SerializeObject(Model.radialChart.Select(x => x.Labels).ToList());
    var RadialSeries = Newtonsoft.Json.JsonConvert.SerializeObject(Model.radialChart.Select(x => x.Series).ToList());
    var BlogCategoryLabel = Newtonsoft.Json.JsonConvert.SerializeObject(Model.blogCategory.Select(x => x.Labels).ToList());
    var BlogCategorySeries = Newtonsoft.Json.JsonConvert.SerializeObject(Model.blogCategory.Select(x => x.Series).ToList());
    var ReservationByCatLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.reservationByCategory.Select(x =>x.Labels).ToList());
    var ReservationByCatSeries = Newtonsoft.Json.JsonConvert.SerializeObject(Model.reservationByCategory.Select(x =>x.Series).ToList());   
    var RoomByCatLabel = Newtonsoft.Json.JsonConvert.SerializeObject(Model.roomCatCount.Select(x =>x.Labels).ToList());
    var RoomByCatSeries = Newtonsoft.Json.JsonConvert.SerializeObject(Model.roomCatCount.Select(x =>x.Series).ToList());
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Dashboard</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Upzet</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex text-muted">
                                <div class="flex-shrink-0  me-3 align-self-center">
                                    <div class="avatar-sm">
                                        <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                            <i class="ri-money-dollar-circle-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="mb-1">Monthly Earning</p>
                                    <h5 class="mb-3">$ @ViewBag.Monthly</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
                <div class="col-xl-3 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex text-muted">
                                <div class="flex-shrink-0  me-3 align-self-center">
                                    <div class="avatar-sm">
                                        <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                            <i class="ri-money-dollar-box-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="mb-1">Annual Earning</p>
                                    <h5 class="mb-3">$ @ViewBag.Annual</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
                <!-- end col -->
                <input type="hidden" id="acceptedpercent" value="@ViewBag.AcceptedPercent" />
                <div class="col-xl-3 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex text-muted">
                                <div class="flex-shrink-0  me-3 align-self-center">
                                    <div class="avatar-sm">
                                        <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                            <i class="fas fa-tasks"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="mb-1">Pending Bookings</p>
                                    <h5 class="mb-3">@ViewBag.Pending</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex text-muted">
                                <div class="flex-shrink-0 me-3 align-self-center" style=" margin-top: -10px">
                                    <div id="radialchart-3" class="apex-charts" dir="ltr" style="height:61px"></div>
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <p class="mb-1">Booking Accept Rate</p>
                                    <h5 class="mb-3">@ViewBag.AcceptedPercent %</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">READING PERCENT BY BLOG CATEGORIES</h4>

                                <div id="radial_chart" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">GENERAL EARNING BY CATEGORY</h4>

                                <div id="bar_chart" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">BLOG COUNTS BY CATEGORY</h4>

                                <div id="donut_chart" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">ROOM COUNT BY CATEGORY</h4>

                                <div id="pie_chart" class="apex-charts" dir="ltr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
</div>
@section Scripts{
    <script>
    var options, chart;
    $("#line_chart_datalabel").length && (options = {
        chart: {
            height: 380,
            type: "line",
            zoom: {
                enabled: !1
            },
            toolbar: {
                show: !1
            }
        },
        colors: ["#0db4d6", "#f1b44c"],
        dataLabels: {
            enabled: !0
        },
        stroke: {
            width: [3, 3],
            curve: "straight"
        },
        series: [{
            name: "High - 2018",
            data: [26, 24, 32, 36, 33, 31, 33]
        }, {
            name: "Low - 2018",
            data: [14, 11, 16, 12, 17, 13, 12]
        }],
        title: {
            text: "Average High & Low Temperature",
            align: "left"
        },
        grid: {
            row: {
                colors: ["transparent", "transparent"],
                opacity: .2
            },
            borderColor: "#f1f1f1"
        },
        markers: {
            style: "inverted",
            size: 6
        },
        xaxis: {
            categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
            title: {
                text: "Month"
            }
        },
        yaxis: {
            title: {
                text: "Temperature"
            },
            min: 5,
            max: 40
        },
        legend: {
            position: "top",
            horizontalAlign: "right",
            floating: !0,
            offsetY: -25,
            offsetX: -5
        },
        responsive: [{
            breakpoint: 600,
            options: {
                chart: {
                    toolbar: {
                        show: !1
                    }
                },
                legend: {
                    show: !1
                }
            }
        }]
    },
    (chart = new ApexCharts(document.querySelector("#column_chart_datalabel"), options)).render()), $("#bar_chart").length && (options = {
                            chart: {
                                height: 350,
                                type: "bar",
                                toolbar: {
                                    show: !1
                                }
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: !0
                                }
                            },
                            dataLabels: {
                                enabled: !1
                            },
                            series: [{
                                data: @Html.Raw(ReservationByCatLabels),
                                name: "Revenue",
                                }],
    colors: ["#5A9FF9", "#11c46e", "#f1b44c", "#fb4d53", "#eff2f7"],
        grid: {
        borderColor: "#f1f1f1"
    },
    xaxis: {
        categories: @Html.Raw(ReservationByCatSeries)
    }
                            },
    (chart = new ApexCharts(document.querySelector("#bar_chart"), options)).render()), $("#mixed_chart").length && (options = {
        chart: {
            height: 350,
            type: "line",
            stacked: !1,
            toolbar: {
                show: !1
            }
        },
        stroke: {
            width: [0, 2, 4],
            curve: "smooth"
        },
        plotOptions: {
            bar: {
                columnWidth: "50%"
            }
        },
        colors: ["#11c46e", "#0db4d6", "#fb4d53"],
        series: [{
            name: "Team A",
            type: "column",
            data: [23, 11, 22, 27, 13, 22, 37, 21, 44, 22, 30]
        }, {
            name: "Team B",
            type: "area",
            data: [44, 55, 41, 67, 22, 43, 21, 41, 56, 27, 43]
        }, {
            name: "Team C",
            type: "line",
            data: [30, 25, 36, 30, 45, 35, 64, 52, 59, 36, 39]
        }],
        fill: {
            opacity: [.85, .25, 1],
            gradient: {
                inverseColors: !1,
                shade: "light",
                type: "vertical",
                opacityFrom: .85,
                opacityTo: .55,
                stops: [0, 100, 100, 100]
            }
        },
        labels: ["01/01/2003", "02/01/2003", "03/01/2003", "04/01/2003", "05/01/2003", "06/01/2003", "07/01/2003", "08/01/2003", "09/01/2003", "10/01/2003", "11/01/2003"],
        markers: {
            size: 0
        },
        legend: {
            offsetY: -10
        },
        xaxis: {
            type: "datetime"
        },
        yaxis: {
            title: {
                text: "Points"
            }
        },
        tooltip: {
            shared: !0,
            intersect: !1,
            y: {
                formatter: function (e) {
                    return void 0 !== e ? e.toFixed(0) + " points" : e
                }
            }
        },
        grid: {
            borderColor: "#f1f1f1"
        }
    },
        (chart = new ApexCharts(document.querySelector("#mixed_chart"), options)).render()), $("#radial_chart").length && (options = {
            chart: {
                height: 370,
                type: "radialBar"
            },
            plotOptions: {
                radialBar: {
                    dataLabels: {
                        name: {
                            fontSize: "22px"
                        },
                        value: {
                            fontSize: "16px"
                        },
                        total: {
                            show: !0,
                            label: "Total",
                            formatter: function (e) {
                                return @ViewBag.BlogCount
                            }
                        }
                    }
                }
            },
            series: @Html.Raw(RadialLabel),
    labels: @Html.Raw(RadialSeries),
    colors: ["#3d8ef8", "#11c46e", "#f1b44c", "#fb4d53", "#1EFBC6", "#393280", "#58DFC0", "#017854", "#A32A3A", "#FED7BF", "#822ACC", "#589BC6", "#8F148F"]
                                    },
    (chart = new ApexCharts(document.querySelector("#radial_chart"), options)).render()), $("#pie_chart").length && (options = {
        chart: {
            height: 320,
            type: "pie"
        },
        series: @Html.Raw(RoomByCatLabel),
        labels: @Html.Raw(RoomByCatSeries),
        colors: ["#3d8ef8", "#11c46e", "#0db4d6", "#fb4d53", "#58DFC0", "#017854", "#A32A3A", "#FED7BF", "#822ACC", "#589BC6", "#EFF2F7"],
        legend: {
            show: !0,
            position: "bottom",
            horizontalAlign: "center",
            verticalAlign: "middle",
            floating: !1,
            fontSize: "14px",
            offsetX: 0,
            offsetY: -10
        },
        responsive: [{
            breakpoint: 600,
            options: {
                chart: {
                    height: 240
                },
                legend: {
                    show: !1
                }
            }
        }]
    },
        (chart = new ApexCharts(document.querySelector("#pie_chart"), options)).render()), $("#donut_chart").length && (options = {
            chart: {
                height: 320,
                type: "donut"
            },
            series: @Html.Raw(BlogCategoryLabel),
    labels: @Html.Raw(BlogCategorySeries),
    colors: ["#3d8ef8", "#11c46e", "#0db4d6", "#fb4d53", "#8F148F", "#58DFC0", "#017854", "#A32A3A", "#FED7BF", "#822ACC", "#589BC6", "#EFF2F7"],
        legend: {
        show: !0,
            position: "bottom",
                horizontalAlign: "center",
                    verticalAlign: "middle",
                        floating: !1,
                            fontSize: "14px",
                                offsetX: 0,
                                    offsetY: -10
    },
    responsive: [{
        breakpoint: 600,
        options: {
            chart: {
                height: 240
            },
            legend: {
                show: !1
            }
        }
    }]
                                            },
    (chart = new ApexCharts(document.querySelector("#donut_chart"), options)).render());
    </script>
}